<ul id="site-nav" class="clearfix">
  <li><a href="/"><%= image "turtlebay-logo" %></a></li>
  <li><a href="/">something</a></li>
  <li><a href="/">something</a></li>
  <li><a href="/">something</a></li>
</ul>